.banner-item .content {
    position: relative;
    z-index: 1;
}

.banner-item .content .sub-title {
    color: var(--mainColor);
    margin-bottom: 10px;
    font-size: 24px;
    display: block;
}

.banner-item .content h1 {
    font-size: 85px;
    margin-bottom: 15px;
}

.banner-item .content p {
    font-size: 24px;
}

@media only screen and (max-width: 767px) {
    .banner-item .content h1 {
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 8px;
    }

    .banner-item .content p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-item .content h1 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .banner-item .content h1 {
        font-size: 60px;
    }

    .banner-item .content p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .banner-item .content h1 {
        font-size: 70px;
    }
}

.default-btn {
    background-color: var(--blackColor);
    padding: 11.5px 30px 11.5px 58px;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
    color: var(--whiteColor);
    display: inline-block;
    position: relative;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: 0;
    font-size: var(--fontSize);
    font-weight: 500;
}

.banner-item .content .default-btn {
    margin-top: 10px;
}

.home-area .container-fluid {
    padding-left: 80px;
    padding-right: 150px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .home-area.container-fluid {
        padding-left: 35px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .home-area.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-area.container-fluid {
        max-width: 540px;
    }
}