.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 300px;
}

.columnleft-sidebar {
    
    main {
        // display: grid;
        // grid-template-columns: repeat(2, minmax(0, 1fr));
        // gap: 40px;
        // display: flex;

        // .sidebar {
        //     width: 300px;
        // }

        .main-column {
            flex: 1;
        }
    }

        
  
}

