.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 300px;
}

.columnleft-sidebar {
    main {
        .main-column {
            flex: 1;
        }
    }        
}

